canvas {
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    width: 400 px;
    height:400 px;
  } 
 
  #map{
    width: 60%;
    height: 500px;
    border: none;
    border-radius: 20px;
    text-align:center;
  }
  html, body{
    background-color: black;
    color:white;
  }